AuthUserFile /home/sites/www.check-fit.com/web/.htpasswd
AuthName Admin
AuthType Basic
Require user wordpressadmin
<IfModule mod_version.c>
  <IfVersion < 2.4>
    Order allow,deny
    Allow from env=show_no_dialog
    Require valid-user
    Satisfy any
  </IfVersion>
  <IfVersion >= 2.4>
    <RequireAny>
      Require env show_no_dialog
      Require valid-user
    </RequireAny>
  </IfVersion>
</IfModule>
<IfModule !mod_version.c>
  Order allow,deny
  Allow from env=show_no_dialog
  Require valid-user
  Satisfy any
</IfModule>